# dependencies
**/node_modules

# Next.js build output
**/.next
**/out

# production
**/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# OS files
.DS_Store
Thumbs.db

# Android & Bubblewrap outputs/caches
*.apk
*.aab
*.idsig
*.keystore
/.gradle/
/build/
/app/
/gradle/
gradlew
gradlew.bat
settings.gradle
build.gradle
gradle.properties
twa-manifest.json
manifest-checksum.txt
store_icon.png
jdk-test.zip

